* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    border: 1px solid blue;
     display: flex; 
     flex-direction: row; 
    
       /* justify-content: center;     */
    /* justify-self: start; */
     /* justify-self: end;  */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    
      /* align-items: center;   */
      /* align-items: end;   */
       gap:10px; 
      flex-wrap: wrap; 
      padding: 40px;
     /* align-items: start; */
     /* align-content: space-around; */
     /* align-content: space-between; */
     /* align-content: space-evenly; */
}


.item {
    width: 100px;
    height: 100px;
    background-color: chocolate;
    border: 1px solid black;

}